@use '../Themes' as *;

$font-poppins: var(--font-poppins);

$background: var(--background);
$primary: var(--primary);
$secondary: var(--secondary);
$black: var(--black);
$white: var(--white);
$success: var(--success);
$error: var(--error);
$warning: var(--warning);
$info: var(--info);